<app-navbar></app-navbar>
<!-- Content Start -->
    <div class="main-content no-sidebar">
        <div class="main-content-inner">
  
          <!-- Intro Video Start -->
          <div class="section-padding pb-0 intro-video text-center">
  
            <div class="section-title-wrap-lg">
              <h1>We Believe In Sharing</h1>
            </div>
  
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fMkYqHI68io?rel=0&amp;autoplay=1&mute=1"></iframe>
                </div>
              </div>
            </div>
  
          </div>
  
          <div class="section-padding">
            <div class="intro-video-description">
              <p>Sharing videos is a way of describing true thoughts. Expression are a beautiful thing, so we provide you a platform to do just that with a few clicks.</p>
              <a href="index.html" class="btn-custom btn-lg">Get Started</a>
            </div>
          </div>
          <!-- Intro Video End -->
  
          <!-- About us Start -->
          <section class="section-padding">
  
            <div class="row">
              <div class="col-lg-5 col-md-6">
                <div class="section-title">
                  <h2 class="title"><span class="custom-primary">Changing</span> the way videos are shared </h2>
                  <p class="subtitle">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                    a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                  </p>
                </div>
              </div>
              <div class="col-lg-7 col-md-6 d-none d-lg-block">
              </div>
            </div>
  
            <div class="section-padding pb-0">
              <div class="row">
                <div class="col-lg-7 col-md-6">
                </div>
                <div class="col-lg-5 col-md-6">
                  <div class="section-title">
                    <h2 class="title">It starts with a <span class="custom-primary">lense</span> , and a pinch of charisma</h2>
                    <p class="subtitle">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="section-padding pb-0">
              <div class="row">
  
                <div class="col-lg-5 col-md-6">
                  <div class="section-title">
                    <h2 class="title">It's never a good day for shooting a clip... <span class="custom-primary">or two</span> </h2>
                    <p class="subtitle">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                    </p>
                  </div>
                </div>
                <div class="col-lg-7 col-md-6">
                </div>
              </div>
            </div>
  
          </section>
          <!-- About us End -->
  
        </div>
  
      </div>
      <!-- Content End -->
      <app-footer></app-footer>