.marg{
    margin-top: 100px !important;
}


.card-body {
    padding: 30px;
    border-radius: 8px 8px 0 0;
    border-top: 2px solid #ff5c5c;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-typography{
    width:700px !important;
    height: 700px !important;
  }

  table td {
    background-color:white;
    border: none !important;
    /* border-bottom: ; */
    box-shadow: 1px ;
}


.table th {
    border-bottom: 1px solid #ff5c5c;
  }


  .form-group {
    position: relative;
  }
  
  .form-control-light {
    width: 100%;
    padding: 8px;

    font-size: 14px;
  }
  
  .placeholder {
    position: absolute;
    top: -4px; /* Adjust the vertical position */
    left: 8px; /* Adjust the horizontal position */
    font-size: 14px;
    color: #999; /* Placeholder color */
    pointer-events: none; /* Make the placeholder not clickable */
    transition: top 0.3s, left 0.3s, font-size 0.3s;
  }
  
  .form-control-light:focus + .placeholder,
  .form-control-light:not(:placeholder-shown) + .placeholder {
    top: -8px; /* Adjust the vertical position when focused or input is not empty */
    left: 4px; /* Adjust the horizontal position when focused or input is not empty */
    font-size: 12px; /* Adjust the font size when focused or input is not empty */
    color: #555; /* Adjust the color when focused or input is not empty */
  }
  
