<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="main-content no-sidebar">
    <div class="main-content-inner">
      <!-- Login Form Start -->
      <div class="section-padding">
        <div class="auth-wrapper">
          <div class="auth-description">
            <div class="auth-description-inner">
              <h2>Welcome Back!</h2>
              <p>Enter your credentials and let the video journey continue.</p>
              <a routerLink="/auth/register" class="btn-custom">Sign Up</a>
            </div>
          </div>
          <div class="auth-form">
            <h2 class="custom-primary">Login into MyChannel</h2>
            <form>
              <div class="form-group">
                <input type="text" class="form-control form-control-light" placeholder="Username" id="username"
                  [formControl]="username">
                <span style="color: red;" *ngIf="username.hasError('required')"> Username is required</span>

              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-light" placeholder="Password" id="password"
                  [formControl]="password">
                <span style="color: red;" *ngIf="password.hasError('required')"> Password is required</span>

              </div>
              <div class="form-group">
                <label>
                  <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Remember Me
                </label>
              </div>
              <button type="submit" [disabled]="!username.valid || !password.valid" class="btn-custom primary"
                (click)="submit()"> Log In </button>

            </form>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
    </div>
  </div>
</div>

<div class="app-footer"></div>
<app-footer></app-footer>