<!-- Sidebar Start -->

<div class="sidebar-wrapper">

    <div class="sidebar-overlay toggle-aside"></div>
    <aside class="sidebar">
      <div class="aside-scroll">

        <div class="aside-section">
          <!-- <span class="aside-title">Recommended</span> -->

          <!-- Recommended Channels Start -->
          <!-- <ul class="recommended-channels">
            <li class="live">
              <a class="media" href="single-channel.html">
                <img src="assets/img/user-1sm.jpg" alt="channel">
                <div class="media-body">
                  <h6>Jumpy Joe</h6>
                  <span>Gaming / Entertainment</span>
                </div>
              </a>
            </li>
            <li>
              <a class="media" href="single-channel.html">
                <img src="assets/img/user-2sm.jpg" alt="channel">
                <div class="media-body">
                  <h6>Sicily Brandy</h6>
                  <span>Education / Tutorials</span>
                </div>
              </a>
            </li>
            <li>
              <a class="media" href="single-channel.html">
                <img src="assets/img/user-3sm.jpg" alt="channel">
                <div class="media-body">
                  <h6>Jonathan Puck</h6>
                  <span>Entertainment</span>
                </div>
              </a>
            </li>
            <li class="live">
              <a class="media" href="single-channel.html">
                <img src="assets/img/user-4sm.jpg" alt="channel">
                <div class="media-body">
                  <h6>Laila Manchy</h6>
                  <span>Music / Dance</span>
                </div>
              </a>
            </li>
            <li class="live">
              <a class="media" href="single-channel.html">
                <img src="assets/img/user-5sm.jpg" alt="channel">
                <div class="media-body">
                  <h6>Live News One</h6>
                  <span>News</span>
                </div>
              </a>
            </li>
            <li>
              <a class="media" href="single-channel.html">
                <img src="assets/img/user-6sm.jpg" alt="channel">
                <div class="media-body">
                  <h6>Just Watch It</h6>
                  <span>Movies / TV</span>
                </div>
              </a>
            </li>
          </ul>

          <div class="aside-button">
            <a href="#" class="btn-custom secondary">View More</a>
          </div> -->
          <!-- Recommended Channels End -->

        </div>

        <div class="aside-section">
          <span class="aside-title">Helpful Links</span>

          <ul class="aside-menu">
            <li> <a href="about-us.html"><i class="fas fa-address-card" style="font-size: 16.5px;"></i> About Us</a> </li>
            <li> <a routerLink="/contact"><i class="fas fa-balance-scale" style="font-size: 16.5px;"></i> contact</a> </li>
            <li> <a routerLink="/helpcenter"><i class="fas fa-question-circle" style="font-size: 16.5px;"></i> Help Center</a> </li>
            
          </ul>

        </div>

      </div>
    </aside>

  </div>

  <!-- Sidebar End -->
