    
    
    <!-- Nav Start -->
    <app-navbar></app-navbar>>
      <!-- Nav End -->
  
      <!-- Sidebar Start -->
      <app-sidbar></app-sidbar>
      <!-- Sidebar End -->
  <!-- Main Wrapper Start -->
  <div class="main-wrapper">
          <!-- Content Start -->
    <div class="main-content">

        <!-- Inner Banner Start -->
        <div class="page-subheader">
          <div class="page-subheader-inner" style="background-image: url('assets/img/cover.jpg')"></div>
          <div class="page-subheader-controls">
            <div class="page-subheader-controls-inner">
              <div class="channel-thumbnail">
                <img src="assets/img/profile.jpg" alt="channel">
  
              </div>
  
              <div class="page-subheader-left page-subheader-nav">
                <ul>
                    <li> <a routerLink="/user/mychannel">Home</a> </li>
                    <li> <a routerLink="/user/userviedo">Videos</a> </li>
                    <li> <a routerLink="/user/mysub">Subscribtion</a></li>
                    <li> <a class="active" routerLink="/user/subscribers">Subscribers</a></li>
                  <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="my-channel-about.html"> <i class="fas fa-address-card"></i> About</a>
                      <a class="dropdown-item" href="my-channel-subscribers.html"> <i class="fas fa-list"></i> Subscribers</a>
                      <a class="dropdown-item" href="my-channel-watch-later.html"> <i class="fas fa-stopwatch"></i> Watch Later</a>
                      <a class="dropdown-item" href="my-channel-history.html"> <i class="fas fa-history"></i> History</a>
                      <a class="dropdown-item" href="my-channel-settings.html"> <i class="fas fa-cog"></i> Settings</a>
                      <a class="dropdown-item" href="my-channel-account.html"> <i class="fas fa-user"></i> Account Management</a>
                    </div>
                  </li> -->
                </ul>
              </div>
  
              <div class="page-subheader-right">
                <a href="#" class="btn-custom secondary"> <i class="fas fa-upload"></i> Upload</a>
              </div>
  
            </div>
          </div>
        </div>
        <!-- Inner Banner End -->
  
        <div class="main-content-inner">
  
          <div class="section section-mobile border-0">
  
            <!-- Videos Start -->
            <div class="row">
  
              <div class="col-lg-4">
  
                <div class="page-options">
  
                  <h3>Subscribers</h3>
                  <div class="page-options-meta">
                    <span>300 subscribers</span>
                  </div>
  
                  <div class="channel-card channel-list">

                  </div>

  
                </div>
  
              </div>
              <div class="col-lg-8">
  
                <div class="row">
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-5sm.jpg" alt="channel"></a>
                          <i class="fas fa-check-double"></i>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Jumpy Joe</a> </h5>
                          <span>2.1M subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-6sm.jpg" alt="channel"></a>
                          <i class="fas fa-check-double"></i>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Laila Manchy</a> </h5>
                          <span>328k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-7sm.jpg" alt="channel"></a>
                          <i class="fas fa-check-double"></i>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Jonathan Puck</a> </h5>
                          <span>1.7M subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-8sm.jpg" alt="channel"></a>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Sicily Brandy</a> </h5>
                          <span>200k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-9sm.jpg" alt="channel"></a>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Live News One</a> </h5>
                          <span>382k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-10sm.jpg" alt="channel"></a>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Just Watch It</a> </h5>
                          <span>19k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-11sm.jpg" alt="channel"></a>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Code Geek</a> </h5>
                          <span>12k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-12sm.jpg" alt="channel"></a>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">Daily Dishes</a> </h5>
                          <span>322k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                  <!-- Channel Item Start -->
                  <div class="col-xl-4 col-sm-6">
                    <div class="card channel-card">
                      <div class="card-body">
                        <div class="dropleft ellipses-dropdown">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="single-channel.html"> <i class="far fa-user"></i> View Channel</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Subscribe</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Block</a>
                            <a class="dropdown-item" href="#"><i class="far fa-flag"></i> Report</a>
                          </div>
                        </div>
                        <div class="channel-thumb">
                          <a href="single-channel.html"><img src="assets/img/user-13sm.jpg" alt="channel"></a>
                        </div>
                        <div class="channel-meta">
                          <h5> <a href="single-channel.html">The Explorer</a> </h5>
                          <span>24k subscribers</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Channel Item End -->
  
                </div>
  
              </div>
  
            </div>
            <!-- Videos End -->
  
          </div>
  
          <!-- Footer Start -->
          <app-footer></app-footer>
          <!-- Footer End -->
  
        </div>
  
      </div>
      <!-- Content End -->
    </div>
    <!-- Main Wrapper End -->